.slot{
  width: 19vw;
  height: 10vw;
  max-width: 120px;
  min-width: 80px;
  max-height: 80px;
  min-height: 40px;
  background-color: #c3c3c3;
  border: 3px solid #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
}