.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  .question {
    font-size: 1.2rem;
  }

  .slotsNumberWarning {
    color: #b80303;
    height: 1rem;
  }
}
